﻿@{
    ViewBag.Title = "AngularJS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AngularJS</h2>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js">
    </script>
    <script src="/Views/AngularJS/project.js"></script>
    <script src="/Views/AngularJS/mongolab.js"></script>

<div ng-app="project">
    <h3>This page uses AngularJS to databind against the page elements, and stores all data in a cloud hosted MongoDb database.</h3>
    <div ng-view></div>
</div>
