@{
    Page.Title = "Design Patterns - Enhancement Requests and Bugs";
}
<script>    $("#BestPractices").addClass("selected");</script>
<p>
  Common design patterns I've used in my most successful architectures:
  <em>* - indicates patterns that I authored (most of these appear in other's work also)</em>
  factory pattern - describe it
  *query to list and object - describe it
  *stage table - describe it
  *multi state machine - describe it, note that you AUTHORED IT
  component orientation 0
  dependency injection
  *balance table
   Browser-side Template Design Pattern.
   *routing table
   *Low coupling / High Cohesion


  
  </p>