@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create maintainable CSS files</h2>
   
        <ul>
         <li>Site.css - defines styles for site wide elements</li>
            <li>&lt;style&gt; - defines css specific to the page</li>
            <li>Separate Styles and Layouts - SiteStyles.css, SiteLayout.css</li>
            <li>Define classes more broadly - ex. .roundedCornders, .shadowed</li>
        </ul>
<img src="/Content/images/VSCSSScreenShot.png" />