@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>CSS Concepts</h2>
 <ul>
    <li>Cascading Inheritance 
        <ul>
            <li>Styles defined at the parent level cascade to child elements.</li> 
        </ul>
    </li>




    <li>Reset CSS - Browsers provide a default set of styles, which you can 'reset' using a Reset.css</li>

    <li>CSS Box Model  - The edges of elements on the page are defined by a box.</li>


    <li>CSS Selectors @Html.Partial("_externalLink", "http://www.w3schools.com/cssref/css_selectors.asp")
       <ul>
             <li>Styles apply from least specific match to most specific. (ex. element overrides *, #id overrides .class)</li>
        </ul>
    </li>

               
     <li>Responsive Web Design @Html.Partial("_externalLink", "http://css-tricks.com/")
        <ul>
             <li>Responsive web design (RWD) is a web design approach aimed at crafting sites to provide an optimal viewing experience—easy reading and navigation with a minimum of resizing, panning, and scrolling—across a wide range of devices (from desktop computer monitors to mobile phones) 
                 <br /><span class="attribution">ref: <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">http://en.wikipedia.org/wiki/Responsive_web_design</a> </span></li>
        </ul>

     </li>


</ul>

