@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CSSConcepts</h2>
 <ul>
    <li>Cascading inheritance</li>
    <li>CSS Box Model</li>
    <li>CSS Selectors</li>
    <li>Reset CSS</li>
    <li>Selectors @Html.Partial("_externalLink", "http://www.w3schools.com/cssref/css_selectors.asp")</li>
</ul>

