﻿/*@import url("../Content/Reset.css");*/


/*#region Element Styling */

/**
{
    border: 5px;
    border-style: solid;
    border-color: black;
}*/

body {
    
        font-family: Arial, Helvetica, sans-serif;
}



strong
{  
    font-weight: bold;
}

p, div, h1, h2, h3
{
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
}

h1, h2, h3
{
    display: block;
    font-weight: bold;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.5em;
    /*font-family: 'Buxton Sketch';*/
}

h3
{
    font-size: 1.17em;
}

/*#strong_text_example
{
    text-decoration:line-through;
}*/
/*#endregion*/
