@import url("../Content/Reset.css");

/*#region color defintions */
/*
Color Pallete:
Yellow = #FCD108;
Orange = #F38814;
Brown = #AB5522;
DarkBlue = #30549E;
MediumBlue = #1F6DAF;
LightBlue = #006FFA;
Superlight Background Blue = #F4F7FF;
HyperlinkBlue = #006FFA;
White = #FFFFFF;
Black = #000000;
Grey = #A0A0A0;
WarningYellow = #FFFF99;
Grey2% = F9F9F9;  used for active button
Greay1% = FCFCFC;  button background
*/
/*#endregion */

/*#region  Base Element Styling */

body {
    /*color: #30549E;
    background: url("../Content/Images/hiveBackground.png") no-repeat scroll center top rgba(255,255,255, 1);*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 10px 10px 10px 10px;
}

strong
{
    font-weight: bold;
}

p, div, h1, h2, h3
{
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
}

h1, h2, h3
{
    display: block;
    font-weight: bold;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 1.5em;
}

h3
{
    font-size: 1.17em;
}
/*#endregion*/

/*#region 2-Prototype Layout*/

div, li
{
   
    border-style:solid;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 1);
    /*border-color: rgba(0, 0, 0, .2);*/
    
}


ul.navigation li
{
    display: table-cell;
    width: 15%;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    padding-left: 1em;
    padding-right: 1em;
}


.container
{
    white-space: nowrap;
    vertical-align: top;
    padding: 5px;
    min-height: 640px;
    overflow: auto;
}

.column
{
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}

#filter
{
    width: 20%;
}

#ideaMap
{
    width: 50%;
}

#resource
{
    width: 25%;
}

/* #endregion*/












