@{
    ViewBag.Title = "CSS3Animation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>CSS3Animation</h3>

<style type="text/css"> 
#div2
{
    width:1000px;
    height:75px;
    background-color:orange;
    border:15px solid black;
    
}

</style>


<div id="div2">Hello. This is a DIV element.</div>




