@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Define Styles</h2>
         
        <ul>
            <li>Define comment elements: H1, H2, H3, HR, BUTTON</li>
            <li>Define common  classes: .panel, other??</li>
            <li class="css3">border-radius (rounded corners) - on buttons, divs</li>
            <li class="css3">box-shadow - on buttons, divs, hyperlinks</li>
            <li>ADD BUTTON BUILDER HERE</li>
        </ul>
