@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Determine Graphics and Color Schemes</h2>
       
        <ul>
            <li>Colors - defined at the top</li>
            <li>Graphics - stored relative to your .css file.  Use .png where possible</li>
            <li class="css3">Background - graphics, or gradient</li><!-- trick for creating a repeating irregular background -->
            <li class="css3">Opacity</li>
            <li class="css3">RGBA - Alpha Transparency</li>
        </ul>

