@{
    Page.Title = "About Dale";
}

    <img src="/Content/Images/DWilbanks.jpg" style="float:left"/>
    <div style="float:left">
    <ul>
    <li>
    Passion for winning, which is measured in client satisfaction.  The client should not just like to use the sytem, but LOVE to use it (ex. iPod). <br /> Build a system that your users love, and success is inevitable.
    </li>
    <li>
    Passion for technology, and embracing best practice utilization, with an emphasis on UX (User Experience).
    </li>
    <li>
    Passion for making it happen. Period.
    </li>
    </ul>
    </div>

    <div style="margin-top:100px">
    <h3>Architecture and Development using</h3>
    <ul>
    <li>.Net / C#  (from 1.1 through 4.0)</li>
    <li>Sql Server (from 6.5 through 2008)</li>
    <li>ASP.Net MVC3/Javascript/JQuery/HTML/CSS/WebForms</li>
    <li>Windows Workflow, WCF</li>
        <li>...many more</li>
    </ul>
    </div>

    <div>
    <h3>Career</h3>
    <ul>
    <li>Professional software development since 1994</li>
    <li>Lead the archicture, design, and development of seven client facing enterprise web applications for RR Donnelley (currently in production: <a target="_blank"href="http://www.rrdonnelley.com/financial/InvestmentMarkets/Solutions/rightcontent_content_management.asp">RightContent</a>, <a target="_blank"href="http://www.rrdonnelley.com/financial/InvestmentMarkets/Solutions/reportbuilder.asp">ReportBuilder</a>, <a target="_blank"href="http://www.rrdonnelley.com/financial/InvestmentMarkets/Solutions/FundFactSheets.asp">FactNet</a>, <a target="_blank"href="http://www.rrdonnelley.com/financial/InvestmentMarkets/Solutions/KeyInvestorInfoDoc.asp">FactNetKII</a>)</li>
    <li>Designed and coded Web Apps, Content Management systems, Workflow Engines, Compostion Systems, Financial Accounting, Porfolio Management</li>
    <li>Extensive track record with sales support of developed products</li>
    <li>Experience leading small to medium size teams of both onshore and offshore resources</li>
    <li>Track record of delivering quality results on time, every time</li>
    <li>Object, Component, and Service oriented design</li>
    </ul>
    </div>
    
    <div>
    <h3>Personal</h3>
    <ul>
    <li>Dad, Job #1</li>
    <li>Boy Scout Leader</li>
    <li>Just built a new <a href="/Content/images/WilbanksServer.jpg" class="preview" style="text-decoration:none">home server</a>. (it's hosting this site). Specs: FX4100 3.6 Ghz, 8Gb DDR3, 64Gb SSD, Radeon 6670</li>
    <li>Hobbies include Camping and MountainBiking</li>
    </ul>
    </div>

    <div>
    <h3>Contact Dale</h3>
    <ul>
    <li>Email Dale at <a href="mailto:dalewilbanks@gmail.com">dalewilbanks@gmail.com</a> Please allow up to 24 hours for a response.</li>
    <li>Dale on <a href="http://www.linkedin.com/pub/dale-wilbanks/6/582/942" target="_blank">Linked In</a></li>
    <li>Dale on <a href="http://facebook.com/dalewilbanks" target="_blank">FaceBook</a></li>
    <li>Dale on <a href="https://plus.google.com/107108294779922982724/posts?hl=en" target="_blank">Google+</a></li>
    </ul>
    </div>
 
