@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create maintainable CSS files</h2>
   
        <ul>
            <li>SiteStyles.css - defines styles for site wide elements</li>
            <li>PageLayout.css - defines css specific to the page</li>
        </ul>
