@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Code Advanced CSS3 Effects</h2>
 
        <ul>
            <li class="css3">zebra striping tbody tr:nth-child(odd) {
   background-color: #ccc;
}</li>
            <li class="css3">@@font-face</li>
            <li class="css3">transform</li>
            <li class="css3">transition</li>
            <li class="css3">FlexBox</li>
            <li class="css3">Sprites</li>
            <li> Browser Compatability:  caniuse.com  @Html.Partial("_externalLink", "http://caniuse.com/")</li>
        </ul>

