@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Code Advanced CSS3 Effects</h2>
 
        <ul>
            <li class="css3">zebra striping tbody tr:nth-child(odd) {
   background-color: #ccc;
}</li>
            <li class="css3">@@font-face</li>
            <li class="css3">transition - CSS3 transitions are effects that let an element gradually change from one style to another.  The effect will start when the specified CSS property changes value.</li>
            <li class="css3">transform - The transform property applies a 2D or 3D transformation to an element. This property allows you to rotate, scale, move, skew, etc., elements.  @Html.Partial("_externalLink", "http://www.w3schools.com/cssref/css3_pr_transform.asp")</li>
            <li class="css3">animations - With CSS3, we can create animations, which can replace animated images, Flash animations, and JavaScripts in many web pages.
                <ul>
                    <li>An animation is an effect that lets an element gradually change from one style to another.</li>
                    <li>@keyframes rule is where the animation is created. Specify a CSS style inside the @keyframes rule and the animation will gradually change from the current style to the new style.</li>
                    <li>Bind the animation to a selector by specifying the name and duration of the animation.</li>

                </ul>

            </li>
            <li class="css3">FlexBox</li>
            <li class="css3">Sprites</li>
            <li> Browser Compatability:  caniuse.com  @Html.Partial("_externalLink", "http://caniuse.com/")</li>
        </ul>

