﻿@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    table td
    {
        border-style: solid;
        border-width: 1px;
        border-color: #000;
    }
    table tr:nth-child(odd)
    {
        background-color: #ccc;
    }
</style>
<h2>7) Code Advanced CSS3 Effects</h2>
 
        <ul>
            <li class="css3">zebra striping: tbody tr:nth-child(odd) {background-color: #ccc;}
                <table>
                    <tr><td>A1</td><td>B1</td></tr>
                    <tr><td>A2</td><td>B2</td></tr>
                    <tr><td>A3</td><td>B3</td></tr>
                    <tr><td>A4</td><td>B4</td></tr>
                    <tr><td>A5</td><td>B5</td></tr>
                </table>
</li>
            <li class="css3">@@font-face - With the @@font-face rule, web designers do no longer have to use one of the "web-safe" fonts.</li>
            <li class="css3">CSS sprites - combine all those little common site images into one, saving lots of separate downloads.  @Html.Partial("_externalLink", "http://css-tricks.com/css-sprites/")</li>
            <li class="css3">flexbox - a layout mode providing for the arrangement of elements on a page such that the elements behave predictably when the page layout must accommodate different screen sizes and different display devices.  The defining aspect of the flex layout is the ability to alter its items' width and/or height to best fill the available space on any display device. A flex container expands items to fill available free space, or shrinks them to prevent overflow.@Html.Partial("_externalLink", "https://developer.mozilla.org/en-US/docs/CSS/Tutorials/Using_CSS_flexible_boxes") </li>
            <li class="css3">transition - CSS3 transitions are effects that let an element gradually change from one style to another.  The effect will start when the specified CSS property changes value.</li>
            <li class="css3">transform - The transform property applies a 2D or 3D transformation to an element. This property allows you to scale, move, rotate, skew elements.  @Html.Partial("_externalLink", "http://www.w3schools.com/cssref/css3_pr_transform.asp")</li>
            <li class="css3">animations - With CSS3, we can create animations, which can replace animated images, Flash animations, and JavaScripts in many web pages.
                <ul>
                    <li>An animation is an effect that lets an element gradually change from one style to another.</li>
                    <li>@@keyframes rule is where the animation is created. Specify a CSS style inside the @@keyframes rule and the animation will gradually change from the current style to the new style.</li>
                    <li>Bind the animation to a selector by specifying the name and duration of the animation.</li>

                </ul>
            </li>
            <li> Browser Compatability:  caniuse.com  @Html.Partial("_externalLink", "http://caniuse.com/")</li>
        </ul>

