@{
    ViewBag.Title = "CSS3";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
   
}
@helper externalLink(string url)
{
    <a target="_blank" href="@url"><img src="/Content/images/externalLink.png"/></a>
}



<h2>CSS3 in Seven Simple Steps for .Net Junkies</h2>
<p>This presentation will focus on a simple 7 step technique for a non-designer to create advanced CSS look and feel for .Net web apps.</p>
<p>I am not a designer, and I am not a CSS expert.  But, I have some good ideas like we all do, and fumbling
around long enough you can come up with the CSS you need.   The point of this presentation is to minimize the fumbling
and get you going in a methodical manner.</p>

<p>
We'll
<ul></ul>
<li>Demonstrate a Technique for creating advanced CSS layouts with least effort.</li>
<li>Look at the most common and useful CSS3 directives, using Visual Studio 2012</li>
<li>Build the WorldBankHive CSS, an advanced CSS layout and style.</li>
</p>

<p>
<b>CSS Facts:</b> it will be around for the rest of your life
Most developers suck at CSS, and many dislike working with it.
It is really easy to create bad CSS, because anything goes. (unlike a imperative language)
Winning Web apps look good, so it's important to be good with CSS.
</p>

<ol>
    <li>

        
        <a href="/CSS3/CSSConcepts">Know CSS Concepts</a>
        <ul>
            <li>Cascading Inheritance</li>
            <li>Reset CSS</li>
            <li>CSS Box Model</li>
            <li>Selectors @Html.Partial("_externalLink", "http://www.w3schools.com/cssref/css_selectors.asp")</li>
        </ul>
    </li>

    <li>
        <a href="/CSS3/PrototypeLayout">Prototype Your Layout</a>
        <ul>
            <li>Mock up a prototype layout: Whiteboard, Paper, or PowerPoint</li>
            <li>Create HTML mockup, use file:// for easy saves</li>
            <li>Define each area as a DIV</li>
            <li>Fill each DIV with test content</li>
            <li>Set Margins and Padding</li>
            <li>Resize and confirm wrapping behavior</li>
            <li>Test in each target browser</li>
        </ul>
    </li>

    <li>
        <a href="/CSS3/KnowYourTools">Know your Tools</a>
        <ul>
            <li>Chrome Developer Tools</li>
                <ul>
                    <li>Inspect elemement</li>
                    <li>:hover - Force Element State</li>
                </ul>
            <li>Visual Studio 2012</li>
            <li>Blend for Visual Studio</li>
        </ul>
    </li>

     <li> 
        <a href="/CSS3/MaintainableCSS">Create maintainable CSS files</a>
        <ul>
            <li>SiteStyles.css - defines styles for site wide elements</li>
            <li>PageLayout.css - defines css specific to the page</li>
        </ul>
    </li>  

    <li> 
        <a href="/CSS3/GraphicsAndColorScheme">Determine Graphics and Color Schemes</a>
        <ul>
            <li>Colors - defined at the top</li>
            <li>Graphics - stored relative to your .css file.  Use .png where possible</li>
            <li class="css3">Background - graphics, or gradient</li><!-- trick for creating a repeating irregular background -->
            <li class="css3">Opacity</li>
            <li class="css3">RGBA - Alpha Transparency</li>
        </ul>
    </li>
    
    <li>
         <a href="/CSS3/DefineStyles">Define Styles</a>
        <ul>
            <li>Define comment elements: H1, H2, H3, HR, BUTTON</li>
            <li>Define common  classes: .panel, other??</li>
            <li class="css3">border-radius (rounded corners) - on buttons, divs</li>
            <li class="css3">box-shadow - on buttons, divs, hyperlinks</li>
        </ul>
    </li>
  
    <li>
         <a href="/CSS3/AdvancedCSS3Effects">Code Advanced CSS3 Effects</a>
        <ul>
            <li class="css3">@@font-face</li>
            <li class="css3">transform</li>
            <li class="css3">transition</li>
            <li class="css3">FlexBox</li>
            <li class="css3">Sprites</li>
        </ul>
    </li>
</ol>
