@{
    ViewBag.Title = "CSS3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CSS3 in Seven Simple Steps for .Net Junkies</h2>

<ol>
    <li>
        Know CSS Concepts
        <ul>
            <li>Cascading inheritance</li>
            <li>CSS Box Model</li>
            <li>CSS Selectors</li>
            <li>Reset CSS</li>
        </ul>
    </li>
    <li>
        Prototype Your Layout
        <ul>
            <li>Define each area as a DIV</li>
            <li>Fill eachc DIV with test content</li>
            <li>Set Margins and Padding</li>
            <li>Resize and confirm wrapping behavior</li>
            <li>Test in each target browser</li>
        </ul>
    </li>
    <li>
        Three
        <ul>
            <li>sub bullet</li>
        </ul>
    </li>

    <li>
        Four
        <ul>
            <li>sub bullet</li>
        </ul>
    </li>

    <li>
        Five
        <ul>
            <li>sub bullet</li>
        </ul>
    </li>

    <li>
        Six
        <ul>
            <li>sub bullet</li>
        </ul>
    </li>

    <li>
        Seven
        <ul>
            <li>sub bullet</li>
        </ul>
    </li>
</ol>

