﻿@{
    ViewBag.Title = "CSS3";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
   
}
@helper externalLink(string url)
{
    <a target="_blank" href="@url"><img src="/Content/images/externalLink.png"/></a>
}

<style>
    #pageheader { display: inline; margin-right: 70px; }
    #logicaladvantage { float: right;  margin-top: -20px;}
    #sourcecode { white-space: nowrap; }
    #bitbucketicon { height: 20px; position: relative; top: 3px; margin-right: 3px; }
</style>

<h2 id="pageheader">CSS3 for .Net Junkies in Seven Simple Steps</h2>
<a id="logicaladvantage" class="button" href="http://www.logicaladvantage.com/" target="_blank"><img src="/Content/images/LogicalAdvantage.png" /></a>
<span id="sourcecode"><a href="https://bitbucket.org/dalewilbanks/dalewilbanks.net" target="_blank">SourceCode</a> available on <img id="bitbucketicon"src="/Content/Images/BitBucket.png" />Bitbucket</span>
<p>This presentation will focus on a simple 7 step technique for a non-designer to create advanced CSS look and feel for .Net web apps.</p>
<a href="/CSS3/More">more...</a>


<ol>
    <li>

        
        <a href="/CSS3/CSSConcepts">Know CSS Concepts</a>
        <ul>
            <li>Cascading Inheritance</li>
            <li>Reset CSS</li>
            <li>CSS Box Model</li>
            <li>Selectors @Html.Partial("_externalLink", "http://www.w3schools.com/cssref/css_selectors.asp")</li>
            <li>Responsive Web Design @Html.Partial("_externalLink", "http://css-tricks.com/")</li>
        </ul>
    </li>

    <li>
        <a href="/CSS3/PrototypeLayout">Prototype Your Layout</a>
        <ul>
            <li>Mock up a prototype layout: Whiteboard, Paper, or PowerPoint</li>
            <li>Create HTML mockup, use file:// for easy saves</li>
            <li>Define each area as a DIV</li>
            <li>Fill each DIV with test content</li>
            <li>Set Margins and Padding</li>
            <li>Resize and confirm wrapping behavior</li>
            <li>Test in each target browser</li>
        </ul>
    </li>

    <li>
        <a href="/CSS3/KnowYourTools">Know your Tools</a>
        <ul>
            <li>Chrome Developer Tools</li>
            <li>Visual Studio 2012 @Html.Partial("_externalLink", "http://www.asp.net/vnext/overview/visual-studio/visual-studio-2012-css-editor")</li>
            <li>Blend for Visual Studio</li>
        </ul>
    </li>

    <li> 
        <a href="/CSS3/GraphicsAndColorScheme">Determine Graphics and Color Schemes</a>
        <ul>
            <li>Colors - defined at the top</li>
            <li>Graphics - stored relative to your .css file.  Use .png where possible</li>
            <li class="css3">Background - graphics, or gradient</li><!-- trick for creating a repeating irregular background -->
            <li class="css3">Opacity</li>
            <li class="css3">RGBA - Alpha Transparency</li>
            <li>Handling a non-repeating background</li>
        </ul>
    </li>

    <li> 
        <a href="/CSS3/MaintainableCSS">Create maintainable CSS</a>
        <ul>
            <li>Site.css - defines styles for site wide elements</li>
            <li>&lt;style&gt; - defines css specific to the page</li>
            <li>Separate Styles and Layouts - SiteStyles.css, SiteLayout.css</li>
            <li>Define classes more broadly - ex. .roundedCornders, .shadowed</li>
        </ul>
    </li>  
    
    <li>
         <a href="/CSS3/DefineStyles">Define Styles</a>
        <ul>
            <li>Define comment elements: H1, H2, H3, HR, BUTTON</li>
            <li>Define common  classes: .panel, .container, others</li>
            <li class="css3">border-radius (rounded corners) - on buttons, divs</li>
            <li class="css3">box-shadow - on buttons, divs, hyperlinks</li>
        </ul>
    </li>
  
    <li>
         <a href="/CSS3/AdvancedCSS3Effects">Code Advanced CSS3 Effects</a>
        <ul>
            <li class="css3">@@font-face</li>
           <li class="css3">CSS sprites</li>
            <li class="css3">flexbox</li>
            <li class="css3">transition</li>
            <li class="css3">transform</li>
            <li class="css3">animation</li>
         </ul>
    </li>
</ol>
