@{
    ViewBag.Title = "More";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CSS3 in Seven Simple Steps for .Net Junkies</h2>
<p>This presentation will focus on a simple 7 step technique for a non-designer to create advanced CSS look and feel for .Net web apps.</p>
<a href="/CSS3/More">more...</a>
<p>I am not a designer, and I am not a CSS expert.  But, I have some good ideas like we all do, and fumbling
around long enough you can come up with the CSS you need.   The point of this presentation is to minimize the fumbling
and get you going in a methodical manner.</p>

<p>
We'll
<ul></ul>
<li>Demonstrate a Technique for creating advanced CSS layouts with least effort.</li>
<li>Look at the most common and useful CSS3 directives, using Visual Studio 2012</li>
<li>Build the WorldBankHive CSS, an advanced CSS layout and style.</li>
</p>

<p>
<b>CSS Facts:</b> 
<ul>
    <li>It will be around for the rest of your life</li>
    <li>Many developers suck at CSS, and many dislike working with it.</li>
    <li>It is really easy to create bad CSS, because anything goes. (unlike a imperative language)</li>
    <li>Winning Web apps are engaging, so it's important to be proficient with CSS.</li>
    <li>Targeting both desktop and mobile browsers requires CSS skils</li>
</ul>
</p>
