@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prototype Your Layout</h2>

        <ul>
            <li>Mock up a prototype layout: Whiteboard, Paper, or PowerPoint</li>
            <li>Create HTML mockup, use file:// for easy saves</li>
            <li>Define each area as a DIV</li>
            <li>Fill each DIV with test content</li>
            <li>Set Margins and Padding</li>
            <li>Resize and confirm wrapping behavior</li>
            <li>Test in each target browser</li>
        </ul>
