 @model dalewilbanks.net.entities.WorkItem

@{
    //Layout = null;
    ViewBag.Title = "Proto - In Development, Just a Skeleton Right Now";
}

@section head
{
<script>
    $(document).ready(function () { $("#searchbox").focus(); });
</script>
}   
<h2>@ViewBag.Title</h2></br>

    <div id="leftmenu" style="width:175px; float:left; height:100%">
    <span style="display:block"><input type="button" value="Add New"/></span>
    <span style="display:block; padding:5px;"><a href="proto/">All Items</a></span>
    <span style="display:block; padding:5px;"><a href="proto/1">Menu Item 1</a></span>
    <span style="display:block; padding:5px;"><a href="proto/2">Menu Item 2</a></span>
    <span style="display:block; padding:5px;"><a href="proto/3">Menu Item 3</a></span>
    </div>

    <div id="actionbar">
    <span style="display:block; padding:5px;">Search:<input type="text" id="searchbox" style="width:450px;"/><input type="submit" value="search" /></span>
    <table>
    <thead>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    </thead>
    </table>
    </div>
    
    <div id="body" style="overflow:scroll; height:400px">

    <table>
    <tbody>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr><tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr><tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    <tr><td>Id</td><td>Name</td><td>Type</td><td>Description</td><td>Attachments</td><td>EntryDate</td><td>EnteredBy</td></tr>
    </tbody>
    </table>
    
    </div>

    

