@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2> Determine Graphics and Color Schemes</h2>
       
        <ul>
            <li>Colors - defined at the top</li>
            <li>Graphics - stored relative to your .css file.  Use .png where possible
                <ul>
                    <li>Paint.Net - the all purpose graphics editor for .Net junkies</li>
                    <li>GreenShot - free ware for screen grab</li>
                </ul>

            </li>
            <li class="css3">Background - graphics, or gradient</li><!-- trick for creating a repeating irregular background -->
            <li class="css3">Opacity</li>
            <li class="css3">RGBA - Alpha Transparency</li>
            <li class="css3">HSLa - Hue, Saturation, Lightness, Alpha Transparency @Html.Partial("_externalLink", "http://css-tricks.com/yay-for-hsla/") 
                <ul>
                    <li>Use Paint.Net to pick colors and get their value</li>
                </ul>
            </li>
            <li>Awesome trick for handling a non-repeating background</li>
        </ul>

