<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <!--add name="WorkItemContext" connectionString="Data Source=.\SQLExpress;Initial Catalog=WorkItemContext;Integrated Security=True" providerName="System.Data.SqlClient" /-->
      <add name="WorkItemContext" connectionString="Data Source=localhost;Initial Catalog=WorkItemContext;Persist Security Info=False;User ID=dalewilbanks;Password=president32" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>