@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Know your Tools</h2>

        <ul>
            <li>Chrome Developer Tools</li>
                <ul>
                    <li>Inspect elemement</li>
                    <li>:hover - Force Element State</li>
                </ul>
            <li>Visual Studio 2012</li>
            <li>Blend for Visual Studio</li>
        </ul>