@{
    ViewBag.Title = "1-CSSConcepts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Know your Tools</h2>

        <ul>
            <li>Chrome Developer Tools</li>
                <ul>
                    <li>Inspect elemement</li>
                    <li>:hover - Force Element State</li>
                </ul>
            <li>Visual Studio 2012 @Html.Partial("_externalLink", "http://www.asp.net/vnext/overview/visual-studio/visual-studio-2012-css-editor")</li>
                <ul>
                    <li>
                        Code Regions
                    </li>
                    <li>
                        CSS Color Picker
                    </li>
                    <li>
                        CSS Snippets - generates cross browser CSS.  example - type 'transition' then TAB
                    </li>
                    <li>
                        CSS Hierarchies
                    </li>
                </ul>
            <li>Blend for Visual Studio</li>
        </ul>